@import 'carbon-components/scss/globals/scss/styles.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/_font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/_breakpoint.scss';
@import 'carbon-components/scss/globals/scss/_typography.scss';
@import 'carbon-components/scss/globals/scss/_vars.scss';

$feature-flags: (
  ui-shell: true,
);
